<%- include('partials/header') -%>

  <div class="container p-5">
    <h2>
      Trade Tracker
    </h2>
    <button class="btn btn-primary">Add</button>
    <table class="table">
      <th>Name</th>
      <th>Inital Price</th>
      <th>Current Price</th>
      <th>Margin</th>
      <th>Date Added</th>
      <th>% Change</th>
    </table>
  </div>
  <%- include('partials/footer') -%>