<%- include('partials/header') -%>

  <div class="container p-5">
    <div class="d-flex">
      <h1>
        Watchlist
      </h1>

    </div>
    <hr>

    <p>
      <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        New Watchlist
      </a>

    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <form action="" class="form">
          <label for="listName"></label>
          <input type="text" name="listName" id="" placeholder="List name" class="form-control">
          <button class="btn btn-primary">Create</button>
        </form>
      </div>
    </div>
    <div class="row">

      <div class="col">

        <% for(var i=0; i < lists.length; i++) { %>
          <h4>
            <%= lists[i].name %>
          </h4>
          <div class="col"><button class="btn btn-danger">Remove</button></div>
          <% } %>

            <table class="table">
              <th>Name</th>
              <th>Date Added</th>
              <th>% change</th>
              <tr>
                <td>
                  <a href="/item/Abyssal Whip">Abyssal Whip</a>
                </td>
                <td>9/21/22</td>
              </tr>
            </table>
      </div>
      <div class="col"></div>
      <div class="col"></div>

    </div>

  </div>







  <%- include('partials/footer') -%>