<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to Quickflips RS!</h1>
    <p class="lead">This site was created to make flipping items in Old School Runescape easy.</p>
    <hr class="my-4">
    <p>Login below, or create account for access to your Watchlist and Trade Tracking across multiple systems.</p>
    <p class="lead">
      <a class="btn btn-success" href="/users/login" role="button">Login</a>
      <a class="btn btn-primary" href="/users/register" role="button">Register</a>
    </p>
  </div>

</div>