<div class="container">
  <h2>Item Name</h2>
  <button class="btn btn-success">Add to Watchlist</button>
  <button class="btn btn-info">Create Trade</button>
  <h2>Price Graph</h2>
  <!-- <canvas id="myChart" width="400" height="100"></canvas>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <script>
    const labels = [
      'January',
      'February',
      'March',
      'April',
      'May',
      'June',
    ];

    const data = {
      labels: labels,
      datasets: [{
        label: 'My First dataset',
        backgroundColor: 'rgb(255, 99, 132)',
        borderColor: 'rgb(255, 99, 132)',
        data: [0, 10, 5, 2, 20, 30, 45],
      }]
    };

    const config = {
      type: 'line',
      data: data,
      options: {}
    };
  </script>
  <script>
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );
  </script>
 -->

</div>